body {
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}

a{
    all: unset;
}
.loginButton {
    background-color: blue;
    border: 1px;
    padding: 1em;
    cursor: pointer;
}
.google-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}